<section class="section section--blog">
    <h2>Latest</h2>
    <div class="section--blog__container">
        {% for post in site.posts %}
            <div class="card card--blog">
                <a href= "{{ post.url }}">
                    <div class="card--blog__image" style="background-image: url({{ post.thumb }})"></div>
                    <div class="card--blog__content">
                        <h3>{{ post.title }}</h3>                            
                        <p>{{ post.snippet }}</p>

                        <!-- <div class="card--blog__content__bottom">
                            {{ post.author.name }}
                            <time datetime="{{ post.date | date: "%Y-%m-%d" }}" class="blog-card__time">
                                <p>
                                    {% assign d = post.date | date: "%-d" %}
                                    {% case d %}
                                    {% when "1" or "21" or "31" %}
                                    {{ d }}st
                                    {% when "2" or "22" %}
                                    {{ d }}nd
                                    {% when "3" or "23" %}
                                    {{ d }}rd
                                    {% else %}
                                    {{ d }}th
                                    {% endcase %}
                                    {{ post.date | date: "%B" }}
                                    {{ post.date | date: "%Y" }}
                                </p>
                            </time>
                        </div> -->
                    </div>
                </a>                        
            </div>
        {% endfor %}  
    </div>
</section>