<section class="section section--blog-latest {{ section.class }}">
    <div class="section__text-block">
        {% if section.title %}
            <h2>{{ section.title | markdownify }}</h2>
        {% endif %}

        {% if section.text %}
            <p>{{ section.text | markdownify }}</p>
        {% endif %}
    </div>
    
    <div class="section--blog-latest__container">
        {% for post in site.posts limit:3 %}
        <a href="{{ post.url }}" class="card card--blog">
            <div class="card--blog__image" style="background-image: url({{ post.thumb }})"></div>

            <div class="card--blog__content">
                <h4>{{ post.title }}</h4>
                <p>{{ post.snippet }}</p>
            </div>
        </a>
    {% endfor %}
    </div>

    <div class="section--blog-latest__button">
        <a class="button button--{{ section.button }}" href="/blog/">Find more articles</a>
    </div>     
</section>