<div class="hero hero__layer hero__layer--one hero--video {{ section.class }}">
    <div class="hero__video">
      <div class="hero__video-film">
        <video autoplay="" muted="" loop="" playsinline="" preload="" poster="/assets/img/{{section.poster}}">
          <source id="header-video" src="/assets/video/{{section.video}}" type="video/mp4">
        </video>
      </div>
    </div>
    {% if section.content %}
      <div class="hero__layer hero__layer--two">
        <div class="hero__strap">{{section.content}}</div>
      </div>
    {% endif %}
    <div class="hero__layer hero__layer--three">

      <div class="peak-mask">        
        <div class="peak-mask__peak">
          <div class="peak-mask__holder">
            <svg class="peak-mask__peak__mask" width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Artboard" fill="#D8D8D8">
                      <path d="M23,0 L50,20 L77,0 L100,0 L100,100 L0,100 L0,0 L23,0 Z" id="Combined-Shape"></path>
                  </g>
              </g>
            </svg>
          </div>
        </div>
      </div>

    </div>
</div>
