<div class="hero hero__layer hero__layer--one hero--video {{ section.class }}">
    <div class="hero__video">
      <div class="hero__video-film">
        <video autoplay="" muted="" loop="" playsinline="" preload="" poster="/assets/img/{{section.poster}}">
          <source id="header-video" src="/assets/video/{{section.video}}" type="video/mp4">
        </video>
      </div>
    </div>
    {% if section.content %}
      <div class="hero__layer hero__layer--two">
        <div class="hero__strap">{{section.content}}</div>
      </div>
    {% endif %}
    <div class="hero__layer hero__layer--three">

      <div class="peak-mask">
        <div class="peak-mask__peak">
          <svg class="peak-mask__peak__mask" width="54px" height="20px" viewBox="0 0 54 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">                          
            <path fill="#D8D8D8" d="M0,0 L27,20 L54,0 L54,20 L0,20 L0,0 Z" id="Combined-Shape"></path>\              
          </svg>
        </div>
      </div>

    </div>
</div>
