<div class="hero hero__layer hero__layer--one hero--video {{ section.class }}">
    <div class="hero__video">
      <div class="hero__video-film">
        <video autoplay="" muted="" loop="" playsinline="" preload="" poster="/assets/img/{{section.poster}}">
          <source id="header-video" src="/assets/video/{{section.video}}" type="video/mp4">
        </video>
      </div>
    </div>
    {% if section.content %}
      <div class="hero__layer hero__layer--two">
        <div class="hero__strap">{{section.content}}</div>
      </div>
    {% endif %}
</div>
