<section class="section {{ section.class }}">
    <h2>Founders.</h2>

    <div class="section--people__container">
        {% for person in site.data.people.founders %}
            <div class="section--people__container__item" style="background-image: url({{ person.image }});">
                <h4>
                    {{ person.name }}
                    <span>{{ person.title }}</span>
                </h4> 
            </div>
        {% endfor %}
    </div>
</section>

<section class="section {{ section.class }}">    
    <h2>Leadership.</h2>

    <div class="slider">
        <div class="slider__scroll">   
            {% for person in site.data.people.leadership %}                        
                <a> 
                    <div class="slider__item" style="background-image: url({{ person.image }});">
                        <h4>
                            {{ person.name }}
                            <span>{{ person.title }}</span>
                        </h4> 
                    </div>
                </a>
            {% endfor %}
        </div>        
    </div>      
</section>

<section class="section {{ section.class }}">    
    <h2>Client Partnerships.</h2>

    <div class="slider">
        <div class="slider__scroll">   
            {% for person in site.data.people.accounts %}                        
                <a> 
                    <div class="slider__item" style="background-image: url({{ person.image }});">
                        <h4>
                            {{ person.name }}
                            <span>{{ person.title }}</span>
                        </h4> 
                    </div>
                </a>
            {% endfor %}
        </div>        
    </div>      
</section>

<section class="section {{ section.class }}">    
    <h2>Creative.</h2>

    <div class="slider">
        <div class="slider__scroll">   
            {% for person in site.data.people.creative %}                        
                <a> 
                    <div class="slider__item" style="background-image: url({{ person.image }});">
                        <h4>
                            {{ person.name }}
                            <span>{{ person.title }}</span>
                        </h4> 
                    </div>
                </a>
            {% endfor %}
        </div>        
    </div>      
</section>

<section class="section {{ section.class }}">    
    <h2>Digital.</h2>

    <div class="slider">
        <div class="slider__scroll">   
            {% for person in site.data.people.digital %}                        
                <a> 
                    <div class="slider__item" style="background-image: url({{ person.image }});">
                        <h4>
                            {{ person.name }}
                            <span>{{ person.title }}</span>
                        </h4> 
                    </div>
                </a>
            {% endfor %}
        </div>        
    </div>      
</section>
