<section class="section section--padding section--padding--pinch typography u--no-gutter-bottom">

    <h3>Founders</h3>

    <div class="grid grid--halves grid--padding">
        {% for person in site.data.people.founders %}
            <div class="grid__unit">
                <div class="card card--image-aware">
                    <img src="{{ person.image }}">                                              
                    
                    <h3 class="card__label">
                        {{ person.name }}<br>
                        <span class="typography--normal">{{ person.title }}</span></h3>                                    
                </div>
            </div>
        {% endfor %}
    </div>
</section>

<section class="section section--padding--pinch typography">
    <h3>Leadership</h3>
</section>

<div class="slider">
    <div class="slider__scroll">            
        {% for person in site.data.people.leadership %}                
            <div class="slider__item">
                <img class="slider__item__image slider__item__image--large" src="{{ person.image }}">                 
                <h3 class="slider__item__label card__label"> {{ person.name }}<br>
                    <span class="typography--normal">{{ person.title }}</span></h3>
            </div>                
        {% endfor %}
    </div>
</div>  

<section class="section section--padding--pinch typography">
    <h3>Client Partnerships</h3>
</section>

<div class="slider">
    <div class="slider__scroll">            
        {% for person in site.data.people.accounts %}                
            <div class="slider__item">
                <img class="slider__item__image slider__item__image--large" src="{{ person.image }}">                 
                <h3 class="slider__item__label card__label"> {{ person.name }}<br>
                    <span class="typography--normal">{{ person.title }}</span></h3>
            </div>                
        {% endfor %}
    </div>
</div>  

<section class="section section--padding--pinch typography">
    <h3>Creative</h3>
</section>

<div class="slider">
    <div class="slider__scroll">            
        {% for person in site.data.people.creative %}                
            <div class="slider__item">
                <img class="slider__item__image slider__item__image--large" src="{{ person.image }}">                 
                <h3 class="slider__item__label card__label"> {{ person.name }}<br>
                    <span class="typography--normal">{{ person.title }}</span></h3>
            </div>                
        {% endfor %}
    </div>
</div>  
    
<section class="section section--padding--pinch typography">
    <h3>Digital</h3>
</section>

<div class="slider">
    <div class="slider__scroll">            
        {% for person in site.data.people.digital %}                
            <div class="slider__item">
                <img class="slider__item__image slider__item__image--large" src="{{ person.image }}">                 
                <h3 class="slider__item__label card__label"> {{ person.name }}<br>
                    <span class="typography--normal">{{ person.title }}</span></h3>
            </div>                
        {% endfor %}
    </div>
</div>  