<section class="section {{ section.class }}" id="{{ section.id }}">
    {% raw %}
        <div class="slider">
            <div class="slider__scroll">            
                <div v-for="item in items" class="slider__item"><a :href="item.link">                                
                    <img class="slider__item__image" :src="item.images.thumbnail.url">                                                                                                         
                </a></div>
            </div>
        </div>
    {% endraw %}    
</section>