<section class="section section--full-width {{ section.class }}">
    {{ section.content }}
    <div class="slider">
        <div class="slider__scroll">
            {% if section.filter %}
                {% for link in site.data.map %}
                    {% if link.slug == section.filter %}
                        {% for child in link.children %}
                        <a href="{{ child.path }}"> 
                            <div class="slider__item" style="background-image: url({{ child.thumb }});">
                                <h3>{{ child.label }}</h3>
                            </div>
                        </a>
                        {% endfor %}                
                    {% endif %}            
                {% endfor %}
            {% endif %}

            {% if section.data %}
                {% for thumb in section.data %}
                    <div class="slider__item">
                        <img class="slider__item__image" src="{{ thumb }}" alt="Halo Thumbnail - {{ forloop.index }}">
                    </div>          
                {% endfor %}
            {% endif %}
        </div>        
    </div>    
    {% if section.buttonURL %}
        <a class="button button--{{ section.button }}" href="{{ section.buttonURL }}">{{ section.buttonText }}</a>
    {% endif %}  
</section>