<section class="section section--work {{ section.class }}">    
    <div class="section--work__container">
        {% for link in site.data.map %}
            {% if link.slug == 'work' %}
                {% for child in link.children %}
                    <a href="{{ child.path }}" class="card card--work">
                        <div class="card--work__image" style="background-image: url({{ child.thumb }})"></div>
                        <div class="card--work__content">
                            <h4>{{ child.label }}</h4>
                        </div>
                    </a>
                {% endfor %}  
            {% endif %}  
        {% endfor %}
    </div>
</section>