<section class="section section--work {{ section.class }}">    
    <div class="section--work__container">
        {% for link in site.data.map %}
            {% if link.slug == 'work' %}
                {% for child in link.children %}
                    <div class="card card--work">
                        <a href= "{{ child.path }}">
                            <div class="card--work__image" style="background-image: url({{ child.thumb }})"></div>
                            <div class="card--work__content">
                                <div class="card--work__content__overlay">
                                    <h3>{{ child.label }}</h3>
                                    <p>{{ child.description }}</p>
                                </div>
                            </div>
                        </a>                        
                    </div>
                {% endfor %}  
            {% endif %}  
        {% endfor %}
    </div>
</section>