<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ page.title }}",
        {% if page.hero.image %}
          "image": "{{ page.hero.image }}",
        {% endif %}
        "publisher": {
            "@type": "Organization",
            "name": "Halo",
            "logo": "{{ site.url }}/assets/img/logo.png"
        },
        "url": "{{ site.url }}{{ page.url }}",
        "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
        "dateCreated": "{{ page.date | date: '%Y-%m-%d' }}",
        "dateModified": "{{ page.date | date: '%Y-%m-%d' }}",
        "description": "{{ page.snippet }}",
        "author": {
            "@type": "{% if page.author.name == 'Halo' %}Organization{%else%}Person{%endif%}",
            "name": "{{ page.author.name }}",
            {% if page.author.name == 'Halo' %}
                "logo": "{{ site.url }}/assets/img/logo.png"
            {% else %}
                "image": "{{ site.url }}{{ page.author.image|default :'/assets/img/logo.png' }}"
            {% endif %}
        }
    }
</script>