<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Halo",
        "image": "{{ site.url }}/assets/img/social-share.jpg",
        "description": "We partner with ambitious brands. Household names, energetic challengers, focused start-ups. Shaping &amp; connecting brands with their audiences. Creating emotional momentum.",
        "logo": "{{ site.url }}/assets/img/logo.png",
        "sameAs" : [
            "https://twitter.com/weare_halo",
            "https://www.instagram.com/wearehalo_bristol/",
            "https://www.linkedin.com/company/halo-media-communications-ltd/"
        ],
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "470 Bath Rd",
            "addressLocality": "Bristol",
            "addressRegion": "Somerset",
            "postalCode": "BS4 3AP",
            "addressCountry": "UK"
        },
        "geo": {
            "@type": "GeoCoordinates",
            "latitude": 51.442740,
            "longitude": -2.574730
        },
        "url": "{{ site.url }}",
        "telephone": "+44117 927 7841",
        "openingHoursSpecification": [
            {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": [
                    "Monday",
                    "Tuesday",
                    "Wednesday",
                    "Thursday",
                    "Friday"
                ],
                "opens": "09:30",
                "closes": "18:00"
            }
        ]
    }
</script>