<h3 class="contact__heading">Get in touch</h3>
<p>
    <span class="contact__item contact__item--tel"><a href="tel:01179277841">0117 927 7841</a></span>
    <span class="contact__item contact__item--email"><a href="mailto:hello@wearehalo.co.uk">hello@wearehalo.co.uk</a></span>
    <span class="contact__item contact__item--address">470 Bath Rd, Bristol BS4 3AP</span>
</p>

<div class="contact__social">
    <a target="_blank" class="contact__social__link" href="https://twitter.com/weare_halo"><i class="fa fa-twitter"></i></a>
    <a target="_blank" class="contact__social__link" href="https://www.instagram.com/wearehalo_bristol/"><i class="fa fa-instagram"></i></a>
    <a target="_blank" class="contact__social__link" href="https://www.linkedin.com/company/halo-media-communications-ltd/"><i class="fa fa-linkedin"></i></a>
</div>

<p class="contact__footer">
    <a href="/cookies-and-privacy">Cookies &amp; Privacy</a> /
    <a href="/contact">Contact</a> /
    <a href="/careers">Careers</a>
</p>

<p class="contact__copyright">&copy; Copyright Halo Media Communications {{ 'now' | date: "%Y" }}</p>