.contact{
    font-size: .9em;
    color: $white;
    &__item{
        display: block;
    }
    &__heading{
        color: $yellow;
        margin-bottom: $gutter/2;
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover{
            color: $yellow;
        }
    }  

    &__footer{
        margin-top: $gutter/2;
        a{
            color: $red;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }  

    &__copyright{
        display: none;
        color:#666;
    }
}

@media only screen and (min-width: $max-width){
    .contact{        
        &--lrg{

            

            line-height: 63px;

            .contact{
                &__heading{
                    margin-bottom: $gutter*2;
                    font-family: 'gilroybold', Helvetica, Arial, sans-serif;
                }
                &__item{
                    font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
                    font-weight: bold;
                    &--tel{
                        a{
                            font-size: 4.6em;
                        }
                    }
                    &--email{
                        a{
                            font-size: 4.6em;
                        }
                    } 
                    &--address{                    
                        font-size: 2.6em;                    
                    }                                
                }
                &__footer{
                    margin-top: $gutter;
                }
                &__social{
                    &__link{
                        display: inline-block;
                        font-size: 1.6em;
                        margin-right: 10px;
                    }
                }    
                &__copyright{
                    display: block;                
                }
            }
        }
    }
} 