.footer{
    position: relative;
    &__brand{
        margin: 0px;
        margin-bottom: $gutter;
        display: block;
        max-width: 120px;
        img{
            display: inline;
        }        
    }
}

@media only screen and (min-width: $max-width){
    .footer{        
        &__brand{   
            position: absolute;         
            right: $gutter-lrg; 
        }
    }
} 

.social{
    
}

