@font-face {
    font-family: 'frequencymid';
    src: url('/assets/fonts/frequency_aw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroybold';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/radomir_tinkov_-_gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyblack';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-black.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style-type: none;
    text-align: left;
}

ol {
    margin-left: 26px;
}

.list {
    list-style: unset;

    &--numbered {
        list-style: decimal;
        font-family: frequencymid;

        li {
            text-align: left;
            font-family: frequencymid;

            span {
                font-family: gilroymedium;
            }
        }
    }
}

html {
    height: 100%;
    background: #333;
}

body {
    line-height: 1.6;
    font-family: 'gilroymedium', Helvetica, Arial, sans-serif; 
    font-size: 1em;
    text-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

a {
    color: $red;
    &:hover{
        text-decoration: none;
    }
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

[v-cloak] {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
}

h1, .h1 {
    font-size: 2.8em;
    line-height: 1.2em;
    margin-bottom: $gutter;

    @include media-breakpoint-up(sm) {
        font-size: 3em;
    } 

    @include media-breakpoint-up(xl) {
        font-size: 3.6em;
    } 
}

h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: $gutter;

    @include media-breakpoint-up(sm) {
        font-size: 2.2em;
    } 

    @include media-breakpoint-up(md) {
        font-size: 3em;
        margin-bottom: $gutter * 2;
    } 
}

h3 {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-bottom: $gutter / 2;

    @include media-breakpoint-up(sm) {
        font-size: 1.6em;
    } 

    @include media-breakpoint-up(md) {
        font-size: 1.8em;
    } 
}   

h4 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: $gutter / 2;

    @include media-breakpoint-up(sm) {
        font-size: 1.4em;
    } 

    @include media-breakpoint-up(md) {
        font-size: 1.6em;
    } 
} 

p {
    font-size: 1.1em;

    @include media-breakpoint-up(md) {
        font-size: 1em;
    } 
}

.u {
    &--gutter-bottom{
        margin-bottom: $gutter*2;
    }
    &--no-gutter-bottom{
        margin-bottom: 0px;
        padding-bottom: 0px!important;
    }
    &--no-gutter-top {
        margin-top: 0px;
        padding-top: 0px!important;
    }
    &--padding-bottom {
        padding-bottom: $gutter*2;
    }
    &-shadow{
        &::after{
            display: block;
            content: '';
            background: url(/assets/img/shadow.png) center top;
            background-repeat: no-repeat;
            background-size: 100% 20px;        
            width: 100%;
            height: 20px;
        }
    }

    &-column {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items: initial;
    }
}

.unset-height {
    min-height: unset !important;
}

.latest-blog-no-bg {
    .section__text-block {
        &::after {
            display: none !important;
        }
    }    
}

.strong {
    font-family: 'gilroyblack';
}

#easter-egg {
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;

    &:hover {
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        opacity: 1;        
    }

    svg {
        .ring {
            &--one,
            &--two,
            &--three {
                fill: $red;
            }
        }

        .outer {
            fill: $yellow;
        }
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

//////////////////////
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        * {
            letter-spacing: -0.03em;
        }
    }
}



// ----------------------
//   HEADING TRANSITION
// ----------------------

@-webkit-keyframes slide-up-heading {
    0% { -webkit-transform: translateY(50%); }   
    100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-up-heading {
    0% { -moz-transform: translateY(50%); }   
    100% {-moz-transform: translateY(0); }
}

// ----------------------
//    TEXT TRANSITION
// ----------------------

@-webkit-keyframes slide-up-text {
    0% { opacity: 0; -webkit-transform: translateY(50%); }   
    100% { opacity: 1; -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-up-text {
    0% { opacity: 0; -moz-transform: translateY(50%); }   
    100% { opacity: 1; -moz-transform: translateY(0); }
}