@font-face {
    font-family: 'frequencymid';
    src: url('/assets/fonts/frequency_aw-webfont.woff2') format('woff2'),
         url('/assets/fonts/frequency_aw-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroybold';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/radomir_tinkov_-_gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroymedium';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/radomir_tinkov_-_gilroy-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyblack';
    src: url('/assets/fonts/radomir_tinkov_-_gilroy-black.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul{
    list-style-type: none;
}

ol{
    margin-left: 26px;
}

html{
    height: 100%;
    background: #333;
}
body{
    line-height: 1.6;
    font-family: 'gilroymedium', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
}

a{
    color: $red;
    &:hover{
        text-decoration: none;
    }
}

img{
    display: block;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

[v-cloak]{
    display: none;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
}

.u{
    &--gutter-bottom{
        margin-bottom: $gutter*2;
    }
    &--no-gutter-bottom{
        margin-bottom: 0px;
        padding-bottom: 0px!important;
    }
    &--no-gutter-top {
        margin-top: 0px;
        padding-top: 0px!important;
    }
    &--padding-bottom {
        padding-bottom: $gutter*2;
    }
}

//////////////////////

@media only screen and (min-width: $max-width){
    body{
        font-size: 1.3em;
    }
    h1{
        font-size: 5em;
        line-height: 1.1;
    }
    h2{
        font-size: 3.1em;
        line-height: 1.1;
    }
    h3{
        font-size: 1.8em;
    }    
} 