.grid{
    &__unit{
        position: relative;
        padding-bottom: $gutter;
        &--center{
            text-align: center;
        }
    }
    &__hero{
        display: block;
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: $max-width){
    .grid{
        position: relative;
        overflow: hidden;
        &__unit{
            float: left;
            padding-bottom: 0;
        }
        &--thirds{
            .grid__unit{
                width: 33%;
                &:nth-child(3n+1){
                    clear:left
                }
            }
        }  
        &--halves{
            .grid__unit{
                width: 50%;
                &:nth-child(2n+1){
                    clear:left
                }
            }            
        }
        &--padding{
            margin-left: -$gutter;
            margin-right: -$gutter;
            .grid__unit{
                padding: $gutter;
            }
        }
    }
} 