.header{
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;     
    line-height: 1;
    margin: $gutter;
    &__brand{
        display: block;
    }
    &__bars{
        display: block;
        position: fixed;
        right: 0px;
        top: 0px;
    }
}

.slide-fade-enter-active, .slide-fade-leave-active {
    transition: all .3s cubic-bezier(0.3, 0.3, 0.56, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
}