.hero{
    &__strap{
        width: 80%;
        margin: auto;
        color: $red;        
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        // left: 50%;        
        transform: translateY(-50%);        
        // transform: translateX(-50%);
    }
    background-size: cover;
    background-position: center;
    &__inner{        
        height: 0px;
        position: relative;
        padding-top: 53%;
        overflow: hidden;
    }
    &__layer{
        display: block;
        background-size: cover;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%    !important;
        height: auto   !important;
    }
    &__header{

    }
    &--minimal{
        .hero__inner{
            padding-top: 20%;
        }
    }
}

.hero__inner {
    background-size: cover;

    .section__left {
        padding-left: 2rem;
    }

    .bold {
        font-weight: bold;
    }
}


.hero--white {
    color: #FFF;
}

.hero--video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100vw;
    position: relative;
}

.hero__content {
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero__left {
    padding: 4rem 1rem;
    @include media-breakpoint-up(md) {
        width: 50%; 
        padding-right:  $gutter-lrg*2;
    }
}

.hero__video-container {
    overflow: hidden;
} 

.hero__video {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
}

.hero__video-film {
    video {
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        display: block;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        margin: auto;
        width: 100%;
        object-fit: cover;
    }
}