.hero{
    &__strap{
        width: 80%;
        margin: auto;
        color: $red;        
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
        // left: 50%;        
        transform: translateY(-50%);        
        // transform: translateX(-50%);

    }
    background-size: cover;
    background-position: center;
    &__inner{        
        height: 0px;
        position: relative;
        padding-top: 53%;
        overflow: hidden;
    }
    &__layer{
        display: block;
        background-size: cover;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%    !important;
        height: auto   !important;
    }
    &__header{

    }
    &--minimal{
        .hero__inner{
            padding-top: 20%;
        }
    }
}

.hero__inner {
    .section__left {
        padding-left: 2rem;
    }

    .bold {
        font-weight: bold;
    }
}


.hero--white {
    color: #FFF;
}