.menu{
    padding: $gutter;
    &__link{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        &:hover, &__active{
            color: $red;
        }
    }
    &__base{
        position: absolute;
        bottom: $gutter;        
    }
    ul ul{
        display: none;
    }
    &__close{
        position: absolute;
        top: $gutter;   
        right: $gutter;
    }    
}

@media only screen and (min-width: $max-width){
    .menu{        
        padding: $gutter-lrg;
        &__close{            
            top: $gutter-lrg;   
            right: $gutter-lrg;
        } 
        &__base{         
            bottom: $gutter-lrg;        
        }  
    }
} 