$nav-spacing: 20px;

.menu-top {
    // display: none;
    position: relative;
    z-index: 2;
}

.menu{
    padding: $nav-spacing/2;
    &__link{
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.6em;
        &:hover, &__active{
            color: $red;
        }
    }
    &__base{
        position: absolute;
        bottom: $gutter;  
    }
    ul ul{
        display: none;
    }
    &__close{
        position: absolute;
        top: $gutter/2;   
        right: $gutter/2;
        width: 35px;

        @include media-breakpoint-up(sm) {
            top: $gutter;   
            right: $gutter;
        }
    }
    &__link{
        font-size: 1.6em;
        font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
    }

    @include media-breakpoint-up(sm) {
        padding: $gutter;
    }
}

@media only screen and (min-width: $max-width){
    .menu{        
        padding: $nav-spacing;
        padding-left: 4vw;
        &__close{            
            top: $nav-spacing;   
            right: $nav-spacing;
            width: auto;
        } 
        &__base{         
            bottom: $gutter-lrg;        
        }  
    }

    .is-active {
        .menu__close {
            width: 35px;
        }
    }
} 