.page{

    &__content{
        // filter: blur(8px);
        position: relative;
        z-index: 1;    
    }
    &__overlay{
        background: rgba(0,0,0,.4);        
        z-index: 1;
        position: fixed;
        top: 0px;
        bottom: 0px;
        right: 0px;   
        left: 0px;
    }
    &__menu{                
        position: absolute;
        background: $black;
        // box-shadow: -100px 0px 100px 100px rgba(0,0,0,.2);
        width: $menuwidth;
        top: 0px;
        bottom: 0px;
        right: 0px;   
        &__open{
            display: block;
            position: fixed;
            top: $gutter;
            right: $gutter;
            width: 35px;
        }
    } 
    &__brand{
        display: block;
        position: absolute;
        top: $gutter;
        left: $gutter;
        z-index: 2;
        width: 35px;
    }   
}

@media only screen and (min-width: $max-width){
    .page{        
        &__menu{  
            width: 400px;                
            &__open{
                top: $gutter-lrg;
                right: $gutter-lrg;
                width: auto;
            }
        } 
        &__brand{
            top: $gutter-lrg;
            left: $gutter-lrg;
            width: auto;
        }   
    }
    
} 