.peak{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 10;
    &__svg{
        display: block;
        margin: auto;
        position: relative;
        top: 23px;
        z-index: 10;
    }
    &--show{
        display: block;
    }
}

.peak--white {
    background-color: #FFF;

    polygon {
        fill: #FFF;
    }
}

.peak--black {
    background-color: #000;

    polygon {
        fill: #000;
    }
}