.peak{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    &__svg{
        display: block;
        margin: auto;
    }
    &--show{
        display: block;
    }
}

@media only screen and (max-width: $max-width){
    .peak{
        &__svg{
            width: 22px;
            height: auto;
        }
    }
} 