.pong{
    cursor: none;
    background: #222;
    &__canvas{
        display: block;
    }
    &__score{
        font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
        position: absolute;
        bottom: 0px;
        padding: 50px;
        color: #666;        
        font-size: 40px;
        &--up1{
            left:0px;
        }
        &--up2{
            right:0px;
        }
    }
}