$v-blue: #0000dd;
$v-yellow: #ffe522;
$v-red: #ff0153;


.page--principles {
  
  .section--v-blue {
    background-color: $v-blue;
    color: #fff;
  }

  .section--animation {

    @include media-breakpoint-down(md) {
      .anim__vid {
        order: 1;
        margin-bottom: $gutter*2;
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
      }
  
      .anim__text {
        order: 2;
      }
    }


    @include media-breakpoint-up(md) {
      .anim__vid {
        order: 1;
      }
  
      .anim__text {
        order: 1;
      }
    }
  }

  .section--v-yellow {
    background-color: $v-yellow;
  }

  .section--v-red {
    background-color: $v-red;
    color: #fff;
  }
}