.section{
    background-position: center;
    background-size: cover;
    // background-color: #fff;
    position: relative;
    &__measure{
        max-width: 740px;
        margin: auto;
    }
    &--center{
        text-align: center;
    }
    &--padding{
        padding: $gutter;
    }
    &--white{
        background-color: $white;
    }
    &--red{
        background-color: $red;
        color: $white;
        a{
            color: $white;
        }
    }
    &--blue{
        background-color: $blue;
        color: $white;
        a{
            color: $white;
        }
    }
    &--black{
        background-color: $black;
        color: $white;
        a{
            color: $white;
        }
    } 
    &--yellow{
        background-color: $yellow;
    } 
    &__left{
        width: 50%;        
    }   
    &__center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    &--background-aware{
        min-height: 100vh;
    }  
    &--peak{
        .peak{
            display: block;
        }
        &--yellow{
            .peak__svg g g{
                fill: $yellow;
            }
        }
        &--red{
            .peak__svg g g{
                fill: $red;
            }
        }
        &--blue{
            .peak__svg g g{
                fill: $blue;
            }
        } 
        &--black{
            .peak__svg g g{
                fill: $black;
            }
        }        
    }  
}

@media only screen and (min-width: $max-width){
    .section{
        &--padding{
            padding: $gutter-lrg;
        }        
    }
} 