.section{
    background-position: center;
    background-size: cover;
    // background-color: #fff;
    position: relative;
    &__measure{
        max-width: 740px;
        margin: auto;
    }
    &--padding{
        padding: $gutter;
    }
    &--white{
        background-color: $white;
    }
    &--center{
        text-align: center;
    }    
    &--red{
        background-color: $red;
        color: $white;
        a{
            color: $white;
        }
    }
    &--blue{
        background-color: $blue;
        color: $white;
        a{
            color: $white;
        }
    }
    &--black{
        background-color: $black;
        color: $white;
        a{
            color: $white;
        }
    } 
    &--yellow{
        background-color: $yellow;
    } 
   
    &--peak{
        .peak{
            display: block;
        }
        &--yellow{
            .peak__svg g g{
                fill: $yellow;
            }
        }
        &--red{
            .peak__svg g g{
                fill: $red;
            }
        }
        &--blue{
            .peak__svg g g{
                fill: $blue;
            }
        } 
        &--black{
            .peak__svg g g{
                fill: $black;
            }
        }        
    }  
}

@media only screen and (max-width: $max-width){
    .section{
        &--background-aware{            
            background: none;
        }       
    }
} 


@media only screen and (min-width: $max-width){
    .section{
        &--background-aware{
            min-height: 100vh;
        }  
        &--padding{
            padding: $gutter-lrg;
            &--pinch{
                padding: $gutter-lrg*2;            
            }
        } 
        &--center-lrg{
            text-align: center;
        }
        &__left{
            width: 50%; 
            padding-right:  $gutter-lrg*2;       
        }
        &__center{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }       
    }
} 