.slider {
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    cursor: ew-resize;
    -webkit-overflow-scrolling: touch;
    width: 100%;       

    &.active {
        cursor: grabbing;
        a  {
            cursor: grabbing;
        }
    }

    &__title {
        padding: $gutter;
        padding-bottom: 0px;
    } 

    &__scroll {   
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        a {
            text-decoration: none;
            flex: 0 0 auto;
            flex-basis: 50%;
            display: block;
        }
    }

    &__item {    
        display: inline-flex;
        position: relative;
        width: 100%;
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        white-space: normal;
        flex-direction: column;        

        @include media-breakpoint-up(md) {
            height: 30vh;
        }

        @include media-breakpoint-up(xl) {
            height: 50vh;
        }

        a {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }

        h3, p {
            padding: 0 $gutter * 2;
            box-sizing: border-box;
            transition: 0.3s ease-out;
            color: $white;
        }

        h3 {
            text-decoration: none;           

            @include media-breakpoint-up(xl) {
                transform: translateY(100%);
            }
        }

        p {            
            opacity: 0;       
            display: none;

            @include media-breakpoint-up(xl) {
                display: block;
                transform: translateY(50%);
            }
        }

        &:hover {
            @include media-breakpoint-up(xl) {
                h3 {
                    transform: translateY(0);
                }

                p {
                    opacity: 1;
                    transform: translateY(0);
                }
            }               
        }        

        &--background-aware{
            a {
                position: relative;
                display: block;
                height: 70vw;
                width: 70vw;                
                background-size: cover;
            }
        }
    }

    &--social {
        .slider__scroll {
            display: block;            
        }        

        &__item {    
            width: 50%;
            display: inline-block;

            @include media-breakpoint-up(md) {
                width: 23.33%;
            }

            a {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
            }
        }
    }
}


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    padding-bottom: 5px;

}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}

