.slider {
    overflow: hidden;
    white-space: nowrap;
    overflow-x: scroll;
    cursor: ew-resize;
    -webkit-overflow-scrolling: touch;
    width: 100%;   

    &.active {
        cursor: grabbing;
        a  {
            cursor: grabbing;
        }
    }

    &__title{
        padding: $gutter;
        padding-bottom: 0px;
    } 

    &__scroll{   
        user-select: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        a {
            text-decoration: none;
            flex: 0 0 auto;
            flex-basis: 50%;
            display: block;
        }
    }

    &__item{    
        display: inline-flex;
        position: relative;
        width: 100%;
        height: 30vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(md) {
            height: 50vh;
        }          

        &__grad{
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;                        
        }

        a {
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }

        h3 {
            color: $white;
            text-decoration: none;
        }

        &--background-aware{
            a{
                position: relative;
                display: block;
                height: 70vw;
                width: 70vw;                
                background-size: cover;
            }
        }
    }

    &--social {
        &__item{    
            width: 33.33% !important;

            a {
                height: 100%;
                width: 100%;
                background-size: cover;
                background-position: center;
            }
        }
    }
}

.section--work {
    .slider__item__label {
        white-space: pre-wrap;
    }
}

.slider--100 {
    .slider__item__image {
        width: 100%;
    }
    .slider__scroll {
        padding: 0;
    }
    .slider__item {
        width: 100vw;
        margin: 0;
    }
}

.slider--min {
    .slider__item__image {
        min-width: 85vw;

        @include media-breakpoint-up(md) {
            min-width: initial;
        }
    }

}

.slider--min-laptop {
    .slider__item__image {
        min-width: 500px;

        @include media-breakpoint-up(md) {
            min-width: initial;
        }
    }
}

@media only screen and (min-width: $max-width){
    .slider{
        &__item{  
            &__image{
                display: block;
                width: 30vw;
                &--large{
                    width: 35vw;
                }
            }
            &--background-aware{
                a{                    
                    height: 30vw;
                    width: 30vw;                                    
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    padding-bottom: 5px;

}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: grey;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}

