.typography{
    h1, h2, h3, h4, h5, h6, p{        
        &:not(:last-child){
            margin-bottom: $gutter;
        }
    }

    // p, li{
    //     // font-size: 1.2em;
    // }

    p {
        font-weight: bold;
    }

    strong {
        font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
    }

    blockquote{
        background: url(/assets/svg/quote.svg) no-repeat;
        padding-top: 20px;
        font-weight: bold;
        font-size: 1.1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.8em;
        }
        cite{
            display: block;
            margin-top: $gutter;
            font-style: normal;
            font-size: .8em;
        }
    }

    &--black{
        color: $black;
    } 
    &--blue{
        color: $blue;
    }
    &--red {
        color: $red;
    }
    &--yellow{
        color: $yellow;
    }  
    &--white{
        color: $white;
    }          
    &--huge{
        font-size: 3.8em;
        font-family: 'gilroyblack', Helvetica, Arial, sans-serif;
    }  
    &--normal{
        font-weight: normal;
        font-family: 'gilroymedium', Helvetica, Arial, sans-serif;
    }
}

@media only screen and (min-width: $max-width){
    .typography{
        h1, h2, h3, h4, h5, h6{        
            &:not(:last-child){
                margin-bottom: $gutter*2;
            }
        }
        p + h2, p + h3{
            margin-top: $gutter*2;
        }
    }
} 