$budvar-red: #DA291C;
$budvar-white: #FFFEF8;

.page--budvar {

  .text--center {
    text-align: center;
  }

  .hero__inner, .hero__content {
    color: #FFF;

    h1 {
      font-size: 3rem;
    }

    strong, h1 {
      color: $budvar-red;
    }

    .section__left {
      padding-left: 2rem;
    }
  }

  .hero__inner {
    background-color: #151515;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .section--red {
    background-color: $budvar-red;
  }
  .section--white {
    background-color: $budvar-white;
  }

  .section--black {
    background-color: #000;
  }

  .section--peak--white {
    polygon {
      fill: $budvar-white;
    }
  }

  .section--peak--red {

    polygon {
      fill: $budvar-red;
    }
  }

  .section--red-triangle {
    overflow: hidden;
    background-color: $budvar-white;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url("./img/case-studies/budvar/red_triangle.svg");
      background-position: right bottom;
      background-size: cover;
    }
  }

  .section--slider-landscape {
    .slider__item__image {
      width: 50vw;
    }
  }

  .section--slider-budvar {
    .slider__item__image {
      width: 45vw;
    }
  }

  .hero__inner {
    .section__right {
      @extend .col-md-6;
      margin-left: auto;
      font-weight: bold;
      color: #fff;
      position: relative; 
      margin-top: -10%;
      padding-right: 4rem;
      font-size: 1.5rem;
    }
  }

  .section--pattern {
    background-image: url("./img/case-studies/budvar/pattern.svg");
    background-size: cover;
    background-color: $budvar-white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;

    @include media-breakpoint-up(xl) {
      background-size: 50%;
    }

    &:after {
      content: '';
      background-color: #000;
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 0;
      height: 20%;
    }

    .slider {
      position: relative;
      z-index: 2;
    }
  }

  .section__stats {
    max-width: 1600px;
    text-align: center;
    margin: auto;
    overflow: hidden;

    .row {
      .col-xs-12 {
        margin-bottom: $gutter*2;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }
      }
      @include media-breakpoint-up(md) {
        & + .row {
          margin-top: 4rem;        
        }
      }
    }

    h1 {
      font-size: 2.5rem;
      margin-bottom: 50px;


      @include media-breakpoint-up(md) {
        font-size: 5rem;
        margin-bottom: 80px;
      }
      color: $budvar-red;
    }

    h3 {
      margin-bottom: 20px;
    }
  }

  .budvar-font {
    margin-bottom: 4rem;
  }

  .section--labels {
    padding-top: 4rem;
    img {
      margin-bottom: 3rem;
    }
  }
}