$butcombe-grey: #312C25;
$butcombe-white: #FDF6EA;
$butcombe-yellow: #fcbf00;
$butcombe-forty-two: #f6ca10;
$butcombe-green: #09cc31;
$butcombe-red: #e52228;
$butcombe-blue: #008a9f;

.page--butcombe {
  .peak--grey {
    background-color: $butcombe-grey;

    polygon {
      fill: $butcombe-grey;
    }
  }

  .section--white {
    background-color: #FFF;
  }

  .section--b-white {
    background-color: $butcombe-white;
  }

  .section--grey {
    background-color: $butcombe-grey;
  }

  .section--dinosaur {
    background-color: #000;
    
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      background-image: url('./img/case-studies/butcombe/dinosaur_illustration.svg');
      background-size: cover;
      left: -5vw;
    }
  }

  .flourish {
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      width: 49px;
      height: 27px;
      background-image: url('./img/case-studies/butcombe/spiral_pattern_1.svg');
      top: 50%;
      left: -75px;
      right: auto;
      position: absolute;
      transform: translateY(-50%);
    }

    &:after {
      left: auto;
      right: -75px;
      transform: translateY(-50%) scaleX(-1);
    }
  }

  .section--78 {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .type--yellow {
    color: $butcombe-yellow;
  }

  .section--yellow {
    background-color: $butcombe-forty-two;
  }

  .section--green {
    background-color: $butcombe-green;
    padding-bottom: 0;

    &:after {
      content: '';
      display: block;
      width: 100%;
      background-image: url(./img/case-studies/butcombe/green_triangle.svg);
      height: 38.5%;
      position: absolute;
      bottom: -38.5%;
      left: 0;
      z-index: 100;
      background-size: cover;
    }
  }

  .pull-right {
    margin-right: -25%;
  }

  .section--red {
    overflow: hidden;
    padding-top: 15%;
    background-color: $butcombe-red;

    p {
      color: #000;
    }
  }

  .section--stats {
    background-color: $butcombe-white;
    text-align: left;
    
    .typography--blue {
      color: $butcombe-blue;
      margin-bottom: 0;
      line-height: 1;
    }

    p {
      color: #000;
    }
  }
}