$crestron-blue: #007C99;

.page--crestron {

  .typography--blue {
    color: $crestron-blue;
  }
  .section--peak--blue {
    background-color: $crestron-blue;

    polygon {
      fill: $crestron-blue;
    }
  }

  .section--group {
    .section {
      .peak {
        display: none;
      }
    }
  }

  .slider--50 {
    .slider__item__image {
      width: 50vw;
      position: relative;
      z-index: 2;
      min-width: 500px;
    }
  }

  .section--img-100 {
    img {
      width: 100%;
      max-width: initial;
    }
  }

  .section--half-blue {
    position: relative;
    background-color: #fff;

    p {
      position: relative;
      z-index: 2;
    }

    &:after {
      content: '';
      display: block;
      height: 50%;
      width: 100%;
      position: absolute;
      left:0;
      top: 0;
      z-index: 0;
      background-color: $crestron-blue;
    }
  }

  .text--center {
    text-align: center;
    margin-bottom: 4rem;
  }

  .section--white-triangle {
    background-color: $crestron-blue;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-image: url('./img/case-studies/crestron/white_triangle.svg');
      background-size: cover;
      width: 100%;
      padding-top: 61%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }


    .section__measure, .section__stats {
      position: relative;
      z-index: 2;
    }
  }

  .section--triangle {
    background-color: #FFF;
    &:before {
      content: '';
      display: block;
      background-image: url('./img/case-studies/crestron/blue_triangle.svg');
      background-size: cover;
      width: 100%;
      padding-top: 28%;
      position: absolute;
      bottom: -1px;
      left: 0;
    }

    .row {
      position: relative;
      z-index: 2;
    }
  }

  .section--logos {
    .row {
      margin-top: 3rem;

      .col-lg-3 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        @include media-breakpoint-up(md) {
          margin-bottom: 0;
        }

        img {
          margin: 0;
          margin-bottom: 2rem;

          &.section__logo {
            @include media-breakpoint-down(md) {
              max-width: 250px;
              margin: 0px auto;
              margin-bottom: 2rem;
            }
          }

          &.section__logo--sonos {
            @include media-breakpoint-down(md) {
              max-width: 180px;
              margin: 0px auto;
              margin-bottom: 2rem;
            }
          }
        }
      }

      .col-md-9 {
        padding: 4rem;
      }
    }

    .row--second {
      .col-lg-3 {
        order: 0;

        @include media-breakpoint-up(md) {
          order: 1;
        }
      }

      .col-md-8 {
        order: 1;

        @include media-breakpoint-up(md) {
          order: 0;
        }
      }
    }
  }


  .section--c-blue {
    background-color: $crestron-blue;
  }

  .stats__image, .stats {
    margin-top: 4rem;
  }

  .stats {
    color: #fff;
    text-align: center;

    .col {
      width: 100%;

      & + .col {
        margin-top: $gutter;

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }

    @include media-breakpoint-up(md) {
      text-align: left;
    }

    h2 {
      margin-bottom: 5px;
    }
  }
}