$mallets-gold: #c99815;

.page--mallets {

  .typography--gold {
    color: $mallets-gold;
  }

  .section.hero {
    padding: 0;

    @media only screen and (min-width: $max-width){
      padding: 8vw;
    }

    .hero__content {
      padding: $gutter*2 $gutter;

      @media only screen and (min-width: $max-width){
        padding: 0;
      }
    }
  }

  .hero__inner {

    height: 500px;
    background-image: url('/assets/img/case-studies/mallets/can-mockup-rectangle_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-color: #151515;
    background-repeat: no-repeat;
    padding: 0;

    
    @include media-breakpoint-up(md) {
      background-image: url('/assets/img/case-studies/mallets/mallets_1.jpg');
      background-color: #151515;
      background-position: bottom right;
      height: 100%;
    }

    @media only screen and (min-width: $max-width){
      padding: 8vw;
    }
  }

  .typography--center {
    text-align: center;
  }

  .section--img-100 {
    img {
      width: 100%;
      max-width: initial;
    }
  }

  .slider--min {
    .slider__item__image {
      min-width: 85vw;
    }
  }

  .section--hero-image {
    background-position: center right;
    background-repeat: no-repeat;
  }

  .section--gold {
    background-color: $mallets-gold;
  }

  .section--mallets-logo {
    .row {
      max-width: 800px;
    }
  }

  .section--stats {

    .row {
      .col-md-6 + .col-md-6 {
        margin-top: $gutter*2;
        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
      }
    }

    .stat__title {
      margin-bottom: $gutter/2;

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
      }
    }
  }

  .typography--center {
    @include media-breakpoint-up(md) {
      text-align: center;
    }
  }

  .section--black-triangle {
    background-color: $mallets-gold;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-image: url('./img/case-studies/black_triangle.svg');
      background-size: cover;
      width: 100%;
      padding-top: 61%;
      position: absolute;
      top: -1px;
      left: 0;
      z-index: 1;
      transform: scaleX(-1);
    }

    .section, p, img {
      position: relative;
      z-index: 2;
    }
  }

  .section--black-triangle-reverse {
    background-color: $mallets-gold;
    position: relative;

    &:before {
      content: '';
      display: block;
      background-image: url('./img/case-studies/black_triangle.svg');
      background-size: cover;
      width: 100%;
      padding-top: 61%;
      position: absolute;
      bottom: -1px;
      left: 0;
      z-index: 1;
      transform: scale(-1);
    }

    img {
      position: relative;
      z-index: 2;
    }
  }

  .section--quote {
    position: relative;
    &:before {
      content: '';
      display: none;
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+70 */
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 85%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    .quote {
      position: relative;
      z-index: 2;
    }
  }
}