<!DOCTYPE html>
<html lang="en-GB">
<html>
    <head>
        {% include head.html %}
    </head>
    <body> 
        {{ content }}           
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>                
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script></script>
    </body>
</html>