---
layout: default
---
<div class="page__content content {{ page.class }}">
    <div class="group">
        {% for section in page.sections  %}
            {% include {{ section.template }} %}
        {% endfor %}
    </div>
    
    <footer class="section section--padding section--black footer">
        <a class="footer__brand" href="/" title="Relax"><img src="/assets/svg/brand.svg" alt="Halo Media Communications"></a>
        <div class="contact contact--lrg">
            {% include contact.html %}
        </div>
        <a href="/pong/">
            <div id="easter-egg">
                {% include svgs/easter-egg.svg %} 
            </div>
        </a>
        
        
    </footer>

</div>