---
layout: default
schemas:
    - blogPosting.html
---
{% include brand.html %}

<div class="hero--image hero--blog-article" style="background-image: url({{ page.hero.image }})"></div>

<section class="section section--white section--blog-article">
    <div class="section__text-block section--blog-article__container">   

        <div class="section--blog-article__container__title">
            <h1 class="blog-head__title {% if page.hero.image %}typography--red{% endif %}">{{ page.title }}</h1>

            <div class="section--blog-article__container__title__date-type">
                <span>{{ page.type }}</span>
                <span>/</span>
                <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
                    <span>
                        {% assign d = page.date | date: "%-d" %}
                        {% case d %}
                        {% when "1" or "21" or "31" %}
                        {{ d }}st
                        {% when "2" or "22" %}
                        {{ d }}nd
                        {% when "3" or "23" %}
                        {{ d }}rd
                        {% else %}
                        {{ d }}th
                        {% endcase %}
                        {{ page.date | date: "%B" }}
                        {{ page.date | date: "%Y" }}
                    </span>
                </time>
            </div>  

            <div class="section--blog-article__container__title__social">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url }}" title="Check out our LinkedIn" rel="noopener"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="https://twitter.com/intent/tweet?url={{ site.url }}{{page.url }}&text={{ page.title }}" title="Check out our Twitter" rel="noopener"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{page.url }}&title={{ page.title }}" title="Check out our LinkedIn" rel="noopener"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>        

        <div class="section--blog-article__container__content">
            {{ content }}
        </div>  
        
        <div class="section--blog-article__container__author">
            <img src="{{ post.author.image|default :'/assets/img/logo.png' }}" alt="{{ page.author.name }}" />
            <span>Author</span>
            <h4>{{ page.author.name }}</h4>
            <div class="section--blog-article__container__author__social">
                <a target="_blank" href="https://twitter.com/weare_halo" title="Check out our Twitter" rel="noopener"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/wearehalo_bristol/" title="Check out our Instagram" rel="noopener"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/halo-media-communications-ltd/" title="Check out our LinkedIn" rel="noopener"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>  
    </div>    
</section>

<section class="section section--blog-latest section--black">
    <div class="section__text-block">
        <h2>Get some more insight</h2>
    </div>
    
    <div class="section--blog-latest__container">
        {% for i in (1..4) %}
            {% if site.posts[i].slug == page.slug || i == 4 %}
                {% continue %}
            {% else %}
                <a href="{{ site.posts[i].url }}" class="card card--blog card--blog-latest">
                    <div class="card--blog__image" style="background-image: url({{ site.posts[i].thumb }})"></div>
                    <div class="card--blog__content">
                        <h4>{{ site.posts[i].title }}</h4>
                        <p>{{ site.posts[i].snippet }}</p>
                    </div>
                </a>
            {% endif %}
        {% endfor %}

    </div>

    <div class="section--blog-latest__button">
        <a class="button button--{{ section.button }}" href="/blog/">See all articles</a>
    </div>     
</section>

<footer class="section section--black footer unset-height">
    <a class="footer__brand" href="/" title="Relax"><img src="/assets/svg/brand.svg" alt="Halo Media Communications"></a>
    <div class="contact contact--lrg">
        {% include contact.html %}
    </div>
    <a href="/pong/">
        <div id="easter-egg">
            {% include svgs/easter-egg.svg %} 
        </div>
    </a>       
</footer>

<!-- <section class="section section--blue unset-height">
    <div class="section__text-block section--blog-article__container"> 
        <div class="section--blog-article__container__author">
            <img src="{{ post.author.image|default :'/assets/img/logo.png' }}" alt="{{ page.author.name }}" />
            <span>Written by</span>
            <h3>{{ page.author.name }}</h3>
            <div class="section--blog-article__container__author__social">
                <a target="_blank" href="https://twitter.com/weare_halo" title="Check out our Twitter" rel="noopener"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="https://www.instagram.com/wearehalo_bristol/" title="Check out our Instagram" rel="noopener"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="https://www.linkedin.com/company/halo-media-communications-ltd/" title="Check out our LinkedIn" rel="noopener"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>  
    </div>
</section> -->

<!-- <div class="page__content content">
    {% if page.hero.image %}
        <div class="lead-image section--peak-mask section--peak-mask--white" style="background-image: url({{ page.hero.image }});">   </div>
    {% else %}
        <div class="group">
            <section class="section section--padding-hero section--padding--pinch section--red section--peak section--peak--red typography">
                <div class="section">
                    {{ blogHead }}
                </div>
            </section>
        </div>
    {% endif %}
    <div class="group blog-body">
        <section class="section section--padding section--padding--pinch section--peak section--peak--red section--white typography">
            {% if page.hero.image %}
                <div class="section typography--red">
                    {{ blogHead }}
                </div>
            {% else %}
                {% include peak.html %}
            {% endif %}
            <div class="blog-content typography">
                {{ content }}
            </div>
            {% if page.external.url %}
                <div class="blog-external-source">
                    <p>
                        Originally published on <a href="{{ page.external.url }}" rel="noopener" target="_blank" title="{{ page.external.short|default: page.external.title }}">{{ page.external.short|default: page.external.title }}</a>
                    </p>
                </div>
            {% endif %}
            {% include sections/schema/blogPosting.html %}
        </section>
    </div>
    <div class="group">
        <div class="blog-latest" style="background-image: url(/assets/svg/rhombas-blue.svg)">
            <div class="section section--padding--pinch blog-latest-head">
                <h2 class="typography--white">More insights.</h2>
            </div>
            {% include sections/blog-latest.html %}
            <div class="section blog-latest-foot">
                <a href="/blog" class="section button button--black">Browse all articles</a>
            </div>
        </div>
    </div>
    <footer class="section section--padding section--black footer">
        <a class="footer__brand" href="/pong"><img src="/assets/svg/brand.svg"></a>
        <div class="contact contact--lrg">
            {% include contact.html %}
        </div>
    </footer>
</div> -->